:root{
    --color-fondo: #060a12;
    --color-cards: #0d1520;
    --color-inputs: #111d2e;

    --texto-main: #e2e8f0;
    --texto-sec: #94a3b8;
}

body{
    width: 100%;
    margin:0;
    display: flex;
    flex-direction: column;
}

header{
    height: 60px;
    background: var(--color-fondo);
    border-bottom: 1px solid rgba(255,255,255,0.07);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    box-sizing: border-box;

    font-family: "JetBrains Mono", monospace;
}

#titulo{
    font-size: 15px;
    color: var(--texto-main);
}
#fecha{
    color: var(--texto-sec);
    font-size: 13.5px;
}

main{
    margin:0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    padding: 30px;
    box-sizing: border-box;

    background: var(--color-fondo);
}

.card{
    background: var(--color-cards);
    border: 1px solid rgba(255,255,255,0.07);
    border-radius: 8px;

    padding: 20px;
    box-sizing: border-box;
}
.tipo3{
    grid-column: span 2;
    height: 110px;
}
.tipo2{
    grid-column: span 3;
}

h2{
    color: var(--texto-sec);
    font-family: "JetBrains Mono", monospace;
    font-size: 13px;
    margin: 0;
}