:root{
    --color-fondo: #060a12;
    --color-cards: #0d1520;
    --color-inputs: #111d2e;

    --texto-main: #e2e8f0;
    --texto-sec: #94a3b8;
}

body{
    width: 100%;
    margin:0;
    display: flex;
    flex-direction: column;

    font-family: "JetBrains Mono", monospace;
}

header{
    height: 60px;
    background: var(--color-fondo);
    border-bottom: 1px solid rgba(255,255,255,0.07);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    box-sizing: border-box;
}

#titulo{
    font-size: 15px;
    color: var(--texto-main);
}
#fecha{
    color: var(--texto-sec);
    font-size: 13.5px;
}

main{
    margin:0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    padding: 30px;
    box-sizing: border-box;

    background: var(--color-fondo);
}

.card{
    background: var(--color-cards);
    border: 1px solid rgba(255,255,255,0.07);
    border-radius: 8px;

    padding: 20px 30px 20px 30px;
    box-sizing: border-box;
}
.tipo3{
    grid-column: span 2;
    height: 110px;
}
.tipo2{
    grid-column: span 3;
}

h2{
    color: var(--texto-sec);
    font-size: 13px;
    margin: 0;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#form_item3,
#form_item4,
button {
    grid-column: 1 / -1;
}

.form_item{
    display: flex;
    flex-direction: column;
    gap: 10px;

    label{
        font-size: 12px;
        color: var(--texto-sec);
    }
}


input, select{
    height: 40px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.07);
    background: var(--color-inputs);

    font-family: "JetBrains Mono", monospace;
    color: var(--texto-sec);
}

button{
    height: 40px;
    border-radius: 8px;
    font-family: "JetBrains Mono", monospace;
    background: #34d399;
    border: 1px solid rgba(255,255,255,0.07);
}

